body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    width: 100%;
    height: 100%;
}

header{
    color: white;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input{
    border-radius: 5px;
    background-color: rgb(240, 236, 236);
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
input[readonly]{
    background-color: rgb(199, 199, 199); 

}

button{
    border-radius: 5px;
    background-color: rgb(70, 142, 236);
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

button:hover{
    background-color:rgb(46, 89, 146);;
}

button:active{
    background-color:rgb(17, 35, 58);
    transform: scale(0.95)
}



.userft {
    width: 150px; /* Defina a largura desejada */
    height: 150px; /* Defina a altura desejada */
    border: 5px solid rgb(104, 104, 104);; /* Defina a cor e a espessura da borda */
    border-radius: 50%; /* Torna a borda arredondada */
    overflow:hidden; /* Corta a imagem para caber dentro da borda arredondada */
    display: flex;
    justify-content: center;
    align-items: center;
}

.userft img {
    width: 100%;
    height: auto;
}

.content{
    background-color: white ;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
    margin: auto;
    padding: 30px;

    width: 850px;
    height: 100%;
}

.login{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 2fr 2fr 1fr 1fr;
    grid-template-areas: ". ." ". foto" ".  form" ". form" ". final" ". .";
}



    
.foto {
    display: flex;
    justify-content: center;
    grid-area: foto;
}
    
.form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo{
    width: 70%;
    padding: 10px;
}
    
.final {
    display: flex;
    grid-area: final;
    justify-content: center;
}

.hidden{
    display: none;
}

.cadastro {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; /* 3 colunas */
    grid-template-rows: auto auto 2fr; /* Linhas ajustadas para que a grid se adapte ao conteúdo */
    grid-template-areas: 
        "tcad tcad tcad" /* Primeira linha, área 'tcad' ocupando toda a largura */
        ". step ." /* Segunda linha, 'step' na coluna do meio */
        ". botoes ."; /* Terceira linha, 'botoes' ocupando toda a largura */
}


.tcad{
    display: flex;
    justify-content: center;
    grid-area: tcad;
}

.step{
    display: none;
    grid-area: step; /* Define a área da grid para 'step' */
}
.step.active{
    display: flex;
    flex-direction: column; /* Organiza os campos em coluna */
    justify-content: center; /* Centraliza os campos */
    align-items: center;
}

.cadastro label{
    font-size: medium;
}

.campocad{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.campocad div{
    text-align: start;
    width: 40%;
    margin-top: 20px;
}

.campocad input{
    width: 100%;
    padding: 10px;
}


.campocad input[type="date"]{
    width: 50%;
}
.campocad input[type="password"]{
    width: 90%;
}

.campocad button{
    width: 10%;
    height: 35%;
    margin: 15px;



    background-color: rgb(109, 109, 109);
}

.campocad button:active{
    background-color:rgb(17, 35, 58);
    transform: scale(1)
}

.campocad p{
    font-size: small;
    margin: 1px;
}



.adress div{
    width: 100%;
    display: flex;
}

.adress div div{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.adress div input{
    width: auto;
}

.botoes{
    display: flex;
    justify-content: flex-end;
    grid-area: botoes;

    margin-top: 20px;
}

.footer{
    display: block;
    width: 100%;
}

.footer input{
    width: auto;
    margin-top: 20px;
}




